/*  GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* UTILITIES */
.container {
    width: 1140px;
    max-width: 90%;
    padding: 30px;
}

.block {
    display: block;
}

.in-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.relative {
    display: relative;
}

.absolute {
    display: absolute;
}

.text-center {
    text-align: center;
}

.central {
    margin: auto;
}


/* HEADER */
.header .container {
    justify-content: space-between;
}

.nav-list {
    align-items: center;
    list-style: none;
}


/* Header: LEFT-NAV */
.header-nav.left-nav .logo {
    margin-right: 30px;
    height: 32px;
}

.leftBar-button {
    height: 32px;
    padding: 0 15px;
    border: 0;
    outline: none;
    background: inherit;
    color: gray;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

.leftBar-button:hover {
    color: black;
}

.leftBar-button.active {
    color: black;
}


/* Header: RIGHT-NAV */