/*  GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    background: inherit;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: 0;
}

/* UTILITIES */
.container {
    width: 1140px;
    max-width: 90%;
    padding: 30px 10px;
}

.block {
    display: block;
}

.in-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.relative {
    display: relative;
}

.absolute {
    display: absolute;
}

.text-center {
    text-align: center;
}

.central {
    margin: auto;
}

.white-color {
    color: white;
}

/* HEADER */
.header .container {
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    align-items: center;
}


/* Header: LEFT-NAV */
.header-nav.left-nav .logo {
    margin-right: 30px;
    height: 32px;
}

.leftBar-button {
    height: 32px;
    padding: 0 15px;
    background: inherit;
    color: gray;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

.leftBar-button:hover {
    color: black;
}

.leftBar-button.active {
    color: black;
}


/* Header: RIGHT-NAV */
.header-nav.right-nav .nav-list li {
    background: red;
    margin-left: 15px;
}

    .dropdown {
        position: relative;
        color: gray;
    }

    .dropdown:hover {
        color: #000;
    }   

        .dropdown-content {
            background: blue;
            padding: 0 10px;
        }

        .dropdown-content li {
            margin: 10px 0;
        }

        .dropdown-content li:hover {
            color: black;
        }

    .download-button {
        height: 44px;
        padding: 0 15px;
        background: rgb(235, 0, 141);
        border-radius: 25px;
    }