/*  GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    background: inherit;
    color: inherit;
}

li {
    list-style: none;
}

button {
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 0;
    cursor: pointer;
}


/* UTILITIES */
.container {
    width: 1140px;
    max-width: 90%;
    padding: 30px 10px;
}

.block {
    display: block;
}

.in-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.central {
    margin: auto;
}

.white-color {
    color: white;
}

/* HEADER */
.header .container {
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    align-items: center;
}

.nav-list > * {
    cursor: pointer;
}

/* Header: LEFT-NAV */
.header-nav.left-nav .logo {
    margin-right: 30px;
    height: 32px;
}

.leftBar-button {
    height: 32px;
    padding: 0 15px;
    background: inherit;
    color: gray;
    font-weight: 500;
    text-transform: uppercase;
}

.leftBar-button:hover {
    color: black;
}

.leftBar-button.active {
    color: black;
}


/* Header: RIGHT-NAV */
.header-nav.right-nav {
    font-weight: 500;
}

.header-nav.right-nav .nav-list li {
    margin-left: 15px;
}

    .dropdown-wrapper {
        position: relative;
    }

        .dropdown-title {
            color: gray;
        }

        .dropdown-title:hover,
        .dropdown-title.active {
            color: #000;
        }   

            .dropdown-content {
                position: absolute;
                left: -50px;
                top: calc(100% + 10px);
                background: #fff;
                padding: 0 10px;
                box-shadow: 2px 2px 10px gray;
                display: none;
            }

                .dropdown-content li {
                    padding-top: 15px;
                    margin: 0 0 15px;
                    width: 160px;
                    font-size: 90%;
                    color: gray;
                }

                .dropdown-content li:hover {
                    color: black;
                }

        .download-button {
            height: 44px;
            padding: 0 15px;
            background: rgb(235, 0, 141);
            border-radius: 25px;
        }
    
.right-nav .nav-list > li > a {
    color:gray;
    width: 25px;
}

.right-nav .nav-list > li > a:hover {
    color: #000;
}

.right-nav .nav-list > li > a > i {
    font-size: 80%;
    bottom: 0;
    left: 100%;
    transform: translateX(-100%)
}